<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>This is a template description.</string>
	<key>Identifier</key>
	<string>bm.bsgl.libtinyxml</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Definitions</key>
	<dict>
		<key>libs/tinyxml/tinystr.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>tinyxml</string>
			</array>
			<key>Path</key>
			<string>libs/tinyxml/tinystr.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/tinyxml/tinyxml.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>tinyxml</string>
			</array>
			<key>Path</key>
			<string>libs/tinyxml/tinyxml.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/tinyxml/tinystr.cpp</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>tinyxml</string>
			</array>
			<key>Path</key>
			<string>libs/tinyxml/tinystr.cpp</string>
		</dict>
		<key>libs/tinyxml/tinyxml.cpp</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>tinyxml</string>
			</array>
			<key>Path</key>
			<string>libs/tinyxml/tinyxml.cpp</string>
		</dict>
		<key>libs/tinyxml/tinyxmlerror.cpp</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>tinyxml</string>
			</array>
			<key>Path</key>
			<string>libs/tinyxml/tinyxmlerror.cpp</string>
		</dict>
		<key>libs/tinyxml/tinyxmlparser.cpp</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>tinyxml</string>
			</array>
			<key>Path</key>
			<string>libs/tinyxml/tinyxmlparser.cpp</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>libs/tinyxml/tinystr.h</string>
		<string>libs/tinyxml/tinyxml.h</string>
		<string>libs/tinyxml/tinystr.cpp</string>
		<string>libs/tinyxml/tinyxml.cpp</string>
		<string>libs/tinyxml/tinyxmlerror.cpp</string>
		<string>libs/tinyxml/tinyxmlparser.cpp</string>
	</array>
</dict>
</plist>
