[submodule "3rd/SDL3"]
	path = 3rd/SDL3
	url = https://github.com/libsdl-org/SDL.git
	branch = release-3.2.x
[submodule "3rd/freetype"]
	path = 3rd/freetype
	url = https://github.com/freetype/freetype.git
[submodule "3rd/tinyxml2"]
	path = 3rd/tinyxml2
	url = https://github.com/leethomason/tinyxml2
[submodule "3rd/spine-runtimes"]
	path = 3rd/spine-runtimes
	url = https://github.com/EsotericSoftware/spine-runtimes
