<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>This is a template description.</string>
	<key>Identifier</key>
	<string>bm.bsgl.libbsgl</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Definitions</key>
	<dict>
		<key>libs/bsgl/include/bsgl.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>bsgl</string>
				<string>include</string>
			</array>
			<key>Path</key>
			<string>libs/bsgl/include/bsgl.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/bsgl/include/bsglanim.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>bsgl</string>
				<string>include</string>
			</array>
			<key>Path</key>
			<string>libs/bsgl/include/bsglanim.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/bsgl/include/bsglrect.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>bsgl</string>
				<string>include</string>
			</array>
			<key>Path</key>
			<string>libs/bsgl/include/bsglrect.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/bsgl/include/bsglsprite.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>bsgl</string>
				<string>include</string>
			</array>
			<key>Path</key>
			<string>libs/bsgl/include/bsglsprite.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/bsgl/core/bsgl_impl.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>bsgl</string>
				<string>core</string>
			</array>
			<key>Path</key>
			<string>libs/bsgl/core/bsgl_impl.h</string>
		</dict>
		<key>libs/bsgl/core/config.cpp</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>bsgl</string>
				<string>core</string>
			</array>
			<key>Path</key>
			<string>libs/bsgl/core/config.cpp</string>
		</dict>
		<key>libs/bsgl/core/control.cpp</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>bsgl</string>
				<string>core</string>
			</array>
			<key>Path</key>
			<string>libs/bsgl/core/control.cpp</string>
		</dict>
		<key>libs/bsgl/core/graphics.cpp</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>bsgl</string>
				<string>core</string>
			</array>
			<key>Path</key>
			<string>libs/bsgl/core/graphics.cpp</string>
		</dict>
		<key>libs/bsgl/core/random.cpp</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>bsgl</string>
				<string>core</string>
			</array>
			<key>Path</key>
			<string>libs/bsgl/core/random.cpp</string>
		</dict>
		<key>libs/bsgl/core/system.cpp</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>bsgl</string>
				<string>core</string>
			</array>
			<key>Path</key>
			<string>libs/bsgl/core/system.cpp</string>
		</dict>
		<key>libs/bsgl/core/timer.cpp</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>bsgl</string>
				<string>core</string>
			</array>
			<key>Path</key>
			<string>libs/bsgl/core/timer.cpp</string>
		</dict>
		<key>libs/bsgl/advance/bsglanim.cpp</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>bsgl</string>
				<string>advance</string>
			</array>
			<key>Path</key>
			<string>libs/bsgl/advance/bsglanim.cpp</string>
		</dict>
		<key>libs/bsgl/advance/bsglrect.cpp</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>bsgl</string>
				<string>advance</string>
			</array>
			<key>Path</key>
			<string>libs/bsgl/advance/bsglrect.cpp</string>
		</dict>
		<key>libs/bsgl/advance/bsglsprite.cpp</key>
		<dict>
			<key>Group</key>
			<array>
				<string>libs</string>
				<string>bsgl</string>
				<string>advance</string>
			</array>
			<key>Path</key>
			<string>libs/bsgl/advance/bsglsprite.cpp</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>libs/bsgl/include/bsgl.h</string>
		<string>libs/bsgl/include/bsglanim.h</string>
		<string>libs/bsgl/include/bsglrect.h</string>
		<string>libs/bsgl/include/bsglsprite.h</string>
		<string>libs/bsgl/core/bsgl_impl.h</string>
		<string>libs/bsgl/core/config.cpp</string>
		<string>libs/bsgl/core/control.cpp</string>
		<string>libs/bsgl/core/graphics.cpp</string>
		<string>libs/bsgl/core/random.cpp</string>
		<string>libs/bsgl/core/system.cpp</string>
		<string>libs/bsgl/core/timer.cpp</string>
		<string>libs/bsgl/advance/bsglanim.cpp</string>
		<string>libs/bsgl/advance/bsglrect.cpp</string>
		<string>libs/bsgl/advance/bsglsprite.cpp</string>
	</array>
</dict>
</plist>
